
<!-- A range of optional layouts for a user info panel -->

<template name="userPanel">
	<div class="user-panel">
        <div class="pull-left image">
            <img src="/images/user/default.png" class="img-circle listing-item-img-lg" title="{{profile.name}}">
        </div>
        <div class="pull-left info">
            <p>{{profile.firstName}} {{profile.lastName}}</p>
            <span>Member</span>
        </div>
    </div>
</template>

<template name="adminUserPanel">
	<div class="user-panel">
        <div class="pull-left image">
            <img src="/images/user/default.png" class="img-circle listing-item-img-lg" title="{{profile.name}}">
        </div>
        <div class="pull-left info">
            <p>{{profile.firstName}} {{profile.lastName}}</p>
            <span>Member</span>
        </div>
    </div>
</template>

