
body {
	background-color: #ffffff;
}

.wrapper {
    height: 100vh;
}

.content-header {
    margin-bottom: 20px;
}
.content-wrapper {
    height: 100%;
    overflow:auto;
}
a.logo {
    text-decoration: none;
}
.logo-mini-img {
    width: 28px;
}
.logo-lg-img {
    width: 28px;
    margin-top: -4px;
}
.content {
    padding-bottom: 30px;
}
.logo-xs-img {
	width: 32px;
}

.m-t-52 {
	margin-top: 52px;
}

.text-theme {
	color: #d9534f;
}

form.navbar-form {
	padding: 2px 5px -2px 5px;
	border-left: none;
}
