

<!-- The content for the workbooks view -->
<template name="Workbooks">
    
    <div class="content-header">
        <h1>Workbooks</h1>
        <ol class="breadcrumb">
            <li class="active"><a href="{{pathFor 'Workbooks'}}"><i class="fa fa-book"></i> Workbooks</a></li>
        </ol>
    </div>

    <div class="content foot-padder">
        
        <div class="row">
            
            <div class="col-xs-12">
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Workbooks
                    </div>
                    <div class="panel-body">
                        <form name="importForm">
                            <label>Import Workbook</label>
                            <input id="fileInput" type="file" />
                        </form>
                        
                        <hr>

                        {{#if Template.subscriptionsReady}}
                            {{#if workbooks.count}}
                                {{#each workbooks}}
                                    {{> workbookListing}}
                                {{/each}}
                            {{else}}
                                <div class="m-y-lg text-center">No workbooks imported. Use the form above to import one.</div>
                            {{/if}}
                            {{#if hasMoreWorkbooks}}
                                <div class="col-xs-12 text-center">
                                    <div class="hw"><a class="load-more btn btn-block btn-warning" href="#">Load More</a></div>
                                </div>
                            {{/if}}
                        {{else}}

                        {{/if}}

                    </div>
                </div>
                
            </div>

        </div>

    </div>

</template>
